body{
    font-family:sans-serif;
  background:linear-gradient(to right bottom,indianred 50%,red)}

header{
  color:black;
    text-align: center;
    margin-left: -45px;
    text-shadow: 1px 2px red;
}
.animate__animated{
  animation-iteration-count: infinite;
}

#input{width: 91%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h3{
    text-shadow: 2px 1px gray;
}
#description{
    width: 40%;
   padding: 4%;
   padding-top: 0%;
   
   margin-right: 2%;
    background-color:lightblue;
  
    box-shadow: 2px 2px 6px 2px grey;
}
a:link {
    color:transparent;
  }
#input1{border:none;
    background-color:lightblue;
    text-decoration: none;
    width: 100%;
    border-radius: 4%;
    height: 100px;
    max-width:100%;
    min-width: 100%;
    max-height: 130px;
    min-height: 130px;
    
    
}
#input2{width: 100%;
    padding: 10px;

}
#input3{
    width: 100%;
    padding: 10px;
}
#category{padding: 4%;
    padding-top: 0%;
    padding-bottom: 0%;
    width: 40%;
    margin-left: 2%;
   
    background-color:#E5FEEE;
    box-shadow: 2px 2px 6px 2px grey;
}
#output{display: flex;
    flex-wrap: wrap;
    margin:10px;

}
#out1:nth-child(2n-1){margin:0px 10px 10px 0px;
    min-width: 250px;
    padding: 10px;
    border-radius: 6%;
    background-color:#E5FEFE;
   
}
#out1:nth-child(2n){
    margin:0px 10px 10px 0px;
    min-width: 250px;
    padding: 10px;
    border-radius: 6%;
    background-color:#F9E8FE;
   overflow:hidden;

}


#delete{width:50%;
    background-color:red;
    color: white;
    text-decoration: none;
    box-shadow: 2px 2px black;
    margin-top: 10px;
    text-align: center;
}
#delete:hover{
    transform: scale(1.1);
}
.delete{font-size: 20px;
    color: black;

    
}
#delete:hover{
    background-color: darkred;
    box-shadow: 2px 2px  black;
}
#odate{
  font-size: 20px;
  
  float: right;
  background-color:aqua;
  box-shadow: 2px 2px blue;
}
#catp{font-size: 20px;
    text-align: center;
    width: 50%; 
    height: 30px;
    margin-right: 20px;
    margin-top: 10px;
    background-color: #FDD5ED;
 box-shadow: 2px 2px red;
   
}
#color{
    display: flex;
}
#otask{
  background-color: aqua;
  font-size: 20px;
  box-shadow: 2px 2px blue;
}
button{color:white;
    border: none;
    background-color: black;
    width:146px;
    height: 46px;
    margin-bottom: 0.2px;
    
}


  
.btn {box-sizing: border-box;
  width: 150px;
  height: 50px;
  border: 2px solid red;
  font-family: 'Cinzel', serif;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
  margin-left:41%;
}

.btn::before, .btn::after {
  position: absolute;
  background:gold;
  z-index: -2;
  transition: 1s;
  content: '';
}

.btn::before {
  height: 50px;
  width: 130px;
}

.btn::after {
    
  width: 150px;
  height: 30px;
}


.btn:hover::before {
  width: 0px;
  background: greenyellow;
  
}

.btn:hover::after {
  height: 0px;
  background: greenyellow;

}

.btn:hover { box-shadow: 4px 2px 6px 2px grey;
  background: greenyellow;
}
